.footer {
    padding: 1rem 0;
    text-align: center;
    font-size: 0.8rem;
    color: #666;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: $black;
    box-shadow: 0 -5px 2px $black;

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        padding-top: 0.5rem;

        .footer-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 1rem;
        }

        .footer-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .footer-icon {
                margin-right: 1rem;

                svg {
                    width: 30px;
                    height: 30px;
                    fill: $white;
                }
            }
        }

        .footer-text {
            font-size: 0.8rem;
            color: #666;
        }
    }
}