.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.5rem;
  }

  .skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    h3 {
      font-size: 0.5rem;
      margin: 0.5rem;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;


      .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0.5rem;

        p {
          font-size: 0.5rem;
        }

        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          font-size: 0.5rem;

          li {
            margin: 0.5rem;
          }
        }
      }
    }
  }
}