.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 5rem;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    width: 100%;

    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      border-radius: 0.5rem;
      background-color: $main-darkest;
      box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
      padding-bottom: 1rem;

      img {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
        position: relative;
      }

      .textarea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 1rem;

        h2 {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        p {
          font-size: 1rem;
          font-weight: 400;
          margin-bottom: 1rem;
        }
      }

      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        h3 {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }

        .inner {
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2rem;
            width: 2rem;
            margin: 0 0.5rem;
            border-radius: 50%;
            background-color: $main-darkest;
            transition: all 0.2s ease-in-out;
  
            &:hover {
              transform: scale(1.05);
            }
  
            svg {
              height: 1.5rem;
              width: 1.5rem;
              fill: $white;
            }
          }
        }
      }
    }
  }
}