@font-face {
    font-family: "roboto";
    src: url(../assets/fonts/Roboto-Italic.ttf);
}

$roboto: "roboto";

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(33, 33, 33);
    color: rgb(243, 243, 243);
    font-family: $roboto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(83, 142, 225);

    i {
        font-size: 1.5rem;
    }
}

.separator {
    margin: 0.5rem 0;
    border-top: 1px solid #666;
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #666;
    }
}

.vertical-separator {
    margin: 0.5rem 0;
    border-left: 1px solid #666;
    width: 1px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: #666;
    }
}

.error {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(67, 67, 67);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 0.5rem;

    .btn-back {
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: rgb(83, 142, 225);
        color: rgb(243, 243, 243);
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s;
        border-radius: 0.5rem;

    }
}