footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0.5rem 0.5rem auto;

    .social {
      margin: 0 1rem;
      font-size: 1.5rem;
      color: $white;
      text-decoration: none;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: $white;
        text-decoration: none;
        position: relative;

        svg {
          transition: all 0.2s ease-in-out;
        }

        .tooltip {
          display: none;
          position: absolute;
          bottom: calc(100% + 7px);
          left: 50%;
          transform: translateX(-50%);
          background: rgba(0, 0, 0, 0.6);
          color: $white;
          padding: 0.5rem;
          border-radius: 5px;
          font-size: 1rem;
          font-weight: 600;
          z-index: 100;
          white-space: nowrap;
          transition: all 0.3s ease-in-out;

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border: 5px solid transparent;
            border-top-color: rgba(0, 0, 0, 0.6);
          }
        }

        &:hover {
          svg {
            scale: 1.1;
          }

          .tooltip {
            display: block;
          }
        }
      }
    }
  }
}