footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem auto 0.5rem 0;

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
          background-color: var(--white);

          &:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        }
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--white);
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px;

        &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: var(--black);
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border-radius: 50%;
        }
      }
    }
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0.5rem 0.5rem auto;

    .social {
      margin: 0 1rem;
      font-size: 1.5rem;
      color: var(--white);
      text-decoration: none;

      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--white);
        text-decoration: none;
        position: relative;

        svg {
          transition: all 0.2s ease-in-out;
        }

        .tooltip {
          display: none;
          position: absolute;
          bottom: calc(100% + 0.5rem);
          left: 50%;
          transform: translateX(-50%);
          background: rgba(0, 0, 0, 0.6);
          color: var(--white);
          padding: 0.5rem;
          border-radius: 5px;
          font-size: 1rem;
          font-weight: 600;
          z-index: 100;
          white-space: nowrap;
          transition: all 0.3s ease-in-out;

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border: 5px solid transparent;
            border-top-color: rgba(0, 0, 0, 0.6);
          }
        }

        &:hover {
          svg {
            scale: 1.1;
          }

          .tooltip {
            display: block;
          }
        }
      }
    }
  }
}