.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .left {
    display: flex;

    .logo {
      font-size: 2rem;
      font-weight: 700;
      color: $white;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 4rem;
        height: 4rem;
        margin: 0 1rem;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    position: relative;

    .links {
      display: flex;
      align-items: center;
      list-style: none;
      margin-right: 2rem;
      transition: all 0.3s ease-in-out;

      @media screen and (max-width: 768px) {
        position: fixed;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        background: $background-fade;
        backdrop-filter: blur(5px);
        translate: 0;
        z-index: 1000;

        &:not(.open) {
          display: flex;
          translate: 100%;

          .link {
            display: none;
          }
        }

        &.open {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          top: 4rem;
          right: 0;
          width: calc(95vw - 2rem);
          height: calc(95vh - 4rem);
          border-radius: 1rem;

          .link {
            margin: 1rem 0;
            font-size: 2rem;
            font-weight: 500;
            color: $white;
            text-decoration: none;
            text-align: center;
          }
        }
      }

      .link {
        margin: 0 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: $white;
        text-decoration: none;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: $link;
          transition: all 0.2s ease-in-out;
          position: absolute;
          bottom: -0.2rem;
          left: 0;
          border-radius: 0.5rem;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      width: 2rem;
      height: 2rem;
      position: fixed;
      top: 1.5rem;
      right: 1.5rem;

      @media (max-width: 768px) {
        display: flex;
        height: 1.5rem;
        width: 1.5rem;
      }

      span {
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 10px;
        background: $white;
        margin: 2px;
        transition: all 0.3s ease-in-out;
      }

      &.open {
        span:nth-child(1) {
          transform: rotate(-45deg) translate(-5px, 6px);
        }

        span:nth-child(2) {
          opacity: 0;
          scale: 1 0;
        }

        span:nth-child(3) {
          transform: rotate(45deg) translate(-5px, -6px);
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}